*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
/* font-family: 'Titillium Web', sans-serif; */
}

body{  
    background-image: url(./photos/patt.png);
}


.header{
    background-color: #cadbed;
    height: 100px;
    opacity: 0.8;
}

div.container{
    width: 1200px;
    position: relative;
}

.logo-text{
    position:absolute;
    top: 24px;
    line-height: 43px;
}

a.link-logo-text{
    font-weight: bold;
    color: #2c71b8;
    font-size: 42px;
    text-decoration: none;
}

.span{
    font-weight:300;
    color: #2c71b8;
    font-size: 42px;
    text-decoration: none;
}


.nav{
    margin: auto;
    width: 600px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#nav-link, #nav-link_products{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 21px;
    color: #2c71b8;
    border-left :0.1px solid #2c71b8;
    padding-left: 30px;
    padding-right: 30px;
}

#nav-link:hover{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 21px;
    background-color: #2c71b8;
    color:white;
    border-left :0.1px solid #2c71b8;
    padding-left: 30px;
    padding-right: 30px;
    transition: 0.5s;
}


#nav-link-shopping{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 21px;
    color: #2c71b8;
    border-left :0.1px solid #2c71b8;
    border-right :0.1px solid #2c71b8;
    padding-left: 30px;
    padding-right: 30px;
}

#nav-link-shopping:hover{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 21px;
    background-color: #2c71b8;
    color:white;
    border-left :0.1px solid #2c71b8;
    border-right :0.1px solid #2c71b8;
    padding-left: 30px;
    padding-right: 30px;
}


/* .find-menu{
    position: absolute;
    right: 170px;
    top: 30px;
} */

.find-menu-input{
    position: absolute;
    right: 70px;
    top: 30px;
    width: 200px;
    height: 40px;
    padding: 5px;
    padding-left: 15px;
    border: 0.1px solid #2c71b8;
    background-color: #cadbed;
}

.lupa_Btn_in_menuInput{
    position: absolute;
    right: 75px;
    top: 35px;
    z-index: 14;
    width: 30px;
    background-color: #2c71b8;
    height: 30px;
    border: 0;
    opacity: 1;
}

.bi{
    text-align: center;
    margin-bottom: 4px;
}

.shop_Btn_in_Header{
    position: absolute;
    right: 0px;
    top: 30px;
    width: 40px;
    height: 40px;
    border: 0;
    opacity: 1;
    /* background-color: white;
    background-image: url(./photos/shopLogoInHeader.png); */
}



.kolo_with_number{
    position: absolute;
    right: 31px;
    top: 25px;
    background-color: #2c71b8;
    color: white;
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 100%;
    opacity: 1;
    text-align: center;
    font-size: 14px;
}


/* ___________________________________________________________________ */


@media (max-width: 1200px) {

    ul.nav{
        position: absolute;
        left: 220px;

        margin: auto;
        width: 450px;
        height: 100px;
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }

    #nav-link{
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 21px;
        color: #2c71b8;
        border-left :0.1px solid #2c71b8;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    
    #nav-link-shopping{
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 21px;
        color: #2c71b8;
        border-left :0.1px solid #2c71b8;
        border-right :0.1px solid #2c71b8;
        padding-left: 10px;
        padding-right: 10px;
    }
}


/* ____________________________slider_block_________________________ */


/* _____________________________________dropdown________________________________________ */

.dropbtn {
    color: whitesmoke;
    background-color:  cadetblue;
    font-size: 16px;
    border: none;
  }
  

  .dropdown {
    position: relative;
    display: inline-block;
    
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2c71b8;
    width: 313px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
  }
  
  .dropdown-content a {
    font-size: 21px;
    color: black;
    font-weight: 300;
    color: white;
    text-decoration: none;
    display: block;
  }



.dropdown-content a:hover{
    background-color: #ddd; 
}


.dropdown:hover .dropdown-content {
    display: block;
}



.dropbtnOfLink3 {
    color: rgb(20, 4, 4);
    font-size: 16px;
    border: none;
    width: 200%;
    text-align: left;
    background-color:  whitesmoke;

  }
  

  .dropdownOfLink3 {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-contentOfLink3 {
    display: none;
    position: absolute;
    background-color:  whitesmoke;
    font-size: 16px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
  }
  

  .dropdown-contentOfLink3 a {
    color: black;
    text-decoration: none;
    display: block;
  }


.dropdownOfLink3:hover .dropdown-contentOfLink3 {
    display: block;
}

.dropdown:hover, .nav-link:hover, .nav-item:hover{
    background-color: #2c71b8;
    color: white;
    visibility: visible;
}



/* __________________block__3__________________________________________ */

.block__3{
    padding-left: 30px;
    padding-right: 10px;
}


.linksInBlock__3{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #7aa5d2;
    text-decoration: none;
    font-size: 14px;
}


.abcde{
    display: flex;
    justify-content: space-between;
}

.TitleOfBlock__3{

    margin-top: 10px;
    font-size: 48px;
    color: white;
    font-weight: bold;
}

.selectorOfBlock__3{
    /* position: absolute; */
    margin-top: 20px;
    margin-right: 0px;
}


#selectOfBlock__3{
    width: 270px;
    height: 38px;
    /* background-color: #2c71b8; */
    margin-left: 110px;
    background-image: url(./photos/patt.png);
    border-color: white;
}

.option{
    color: white;
}


.blockWithCardsBlock__3{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.card-body{
    border: 0;
    border-radius: 0px;
    height: 650px;
    background-color: #2c71b8;
}


.card-img-top{
    border: 0;
    border-radius: 0px;
}