*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body{  
    background-image: url(./photos/patt.png);
    font-family: 'Roboto', sans-serif;
}


.header{
    width: 100%;
    height: 200px;
    z-index: 837452897582975;
}

.header_header{
    background-color: #cadbed;
    height: 100px;
    opacity: 0.8;
    position: relative;
    z-index: 837452897582975;
}

div.container{
    width: 1200px;
    position: relative;
    z-index: 837452897582975;
}

.logo-text{
    position:absolute;
    top: 24px;
    left: 20px;
    line-height: 43px;
    z-index: 837452897582975;
}

a.link-logo-text{
    font-weight: bold;
    color: #2c71b8;
    font-size: 42px;
    text-decoration: none;
}

.span{
    font-weight:300;
    color: #2c71b8;
    font-size: 42px;
    text-decoration: none;
}


.nav{
    margin: auto;
    width: 600px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    z-index: 1000;
}


#nav-link, #nav_link_products{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 21px;
    color: #2c71b8;
    border-left :0.1px solid #2c71b8;
    padding-left: 30px;
    padding-right: 30px;
}

#nav-link_payment{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 21px;
    color: #2c71b8;
    padding-left: 30px;
    padding-right: 30px;
}

#nav-link_payment:hover{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 21px;
    background-color: #2c71b8;
    color:white;
    border-left :0.1px solid #2c71b8;
    padding-left: 30px;
    padding-right: 30px;
    transition: 0.5s;
}

/* ___________________________nav_dropdown_____________________________________________ */

.btn_dropdown{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 21px;
    width: 143px;
    height: 50px;
    text-align: center;
    color: #2c71b8;
    text-decoration: none;
    padding-top: 11px;
    padding-left: 25px;
    padding-right: 15px;
    padding-bottom: 14px;
    border-right :0.1px solid #2c71b8;
    border-left :0.1px solid #2c71b8;
}

.btn_dropdown:hover{
    color: #fff;
    background-color: #2c71b8;
    width: 143px;
    height: 100px;
    padding-top: 11px;
    padding-left: 25px;
    padding-right: 15px;
    border: 0;
}

.btn_dropdown.show{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 21px;
    width: 143px;
    height: 45px;
    text-align: center;
    background-color: #2c71b8;
    color: #fff;
    text-decoration: none;
    padding-top: 7px;
    padding-left: 22px;
    padding-right: 15px;
    padding-bottom: 14px;
    border-right :0.1px solid #2c71b8;
    border-left :0.1px solid #2c71b8;
}

.btn_dropdown.show:hover{
    color: white;
    background-color: #2c71b8;
}

.dropdown-menu{
    background-color: #2c71b8;
    padding: 0px;
    border-radius: 0px;
    border: 0.1px solid white;
    width: 290px;
}

.dropdown-item{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 21px;
}

/* _______________________________________________________________________________________________ */

#nav-link:hover{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 21px;
    background-color: #2c71b8;
    color:white;
    border-left :0.1px solid #2c71b8;
    padding-left: 30px;
    padding-right: 30px;
    transition: 0.5s;
}


#nav-link-shopping{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 21px;
    color: #2c71b8;
    border-left :0.1px solid #2c71b8;
    border-right :0.1px solid #2c71b8;
    padding-left: 30px;
    padding-right: 30px;
}

#nav-link-shopping:hover{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 21px;
    background-color: #2c71b8;
    color:white;
    border-left :0.1px solid #2c71b8;
    border-right :0.1px solid #2c71b8;
    padding-left: 30px;
    padding-right: 30px;
}

.find-menu-input{
    position: absolute;
    right: 75px;
    top: 30px;
    width: 200px;
    height: 40px;
    padding: 5px;
    padding-left: 15px;
    border: 0.1px solid #2c71b8;
    background-color: #cadbed;
}

.lupa_Btn_in_menuInput{
    position: absolute;
    right: 80px;
    top: 35px;
    z-index: 14;
    width: 30px;
    background-color: #2c71b8;
    height: 30px;
    border: 0;
    opacity: 1;
}

.bi{
    margin-right: 4px;
}

.shop_Btn_in_Header{
    position: absolute;
    right: 10px;
    top: 30px;
    width: 40px;
    height: 40px;
    border: 0;
    opacity: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}



.kolo_with_number{
    position: absolute;
    right: 41px;
    top: 25px;
    background-color: #2c71b8;
    color: white;
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 100%;
    opacity: 1;
    text-align: center;
    font-size: 14px;
}

.whiteline_header{
    width: 100%;
    height: 1px;
    background-color: #fff;
}
/* ___________________________________________________________________ */


@media (max-width: 1200px) {

    ul.nav{
        position: absolute;
        left: 220px;

        margin: auto;
        width: 450px;
        height: 100px;
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }

    #nav-link{
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 21px;
        color: #2c71b8;
        border-left :0.1px solid #2c71b8;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    
    #nav-link-shopping{
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 21px;
        color: #2c71b8;
        border-left :0.1px solid #2c71b8;
        border-right :0.1px solid #2c71b8;
        padding-left: 10px;
        padding-right: 10px;
    }
}


/* __________________block__2__________________________________________ */


.slide_of_slider{
    width: 1200px;
    height: 400px;
    background-color: rgb(34, 176, 228);
}
.slide_of_slider2{
    width: 1200px;
    height: 400px;
    background-color: rgb(22, 147, 74);
}
.slide_of_slider3{
    width: 1200px;
    height: 400px;
    background-color: rgb(229, 91, 241);
}
.slide_of_slider4{
    width: 1200px;
    height: 400px;
    background-color: rgb(201, 206, 38);
}
.block__2{
    background-image: url(./photos/patt-block2.png);
    background-repeat: repeat;
    background-size: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 400px;
    position: relative;
    top: -100px;
    z-index: 1;
}


.slider-block > div{
    margin-left: 13px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    display: block;
    height: 400px;
}

.slider-block{
    display: flex;
    justify-content: center;
    text-align: center;
}

.slick-dots{
    width: 1200px;
    height: 400px;
    position: absolute;
    top: 350px;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 26px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: url(./photos/slider-dot.jpg);
    text-align: center;
    opacity: 1;
    color: rgb(254, 250, 250);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before{
    content: url(./photos/slider-dot-active.jpg);
    opacity: 1;
}

.slick-prev:before {
    content: url(./photos/arrow_left_in_slider.svg);
}

.slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    left: 40px;
    top: 50%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    z-index: 342342;
}

.slick-next:before{
    content: url(./photos/arrow_right_in_slider.svg);
}

.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    right: 40px;
    top: 50%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    z-index: 342342;
}
/* __________________block__3__________________________________________ */

.whiteline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin-top: -100px;
}


.block__3{
    padding-left: 30px;
    padding-right: 10px;
    margin-top: 0px;
}

.blockSlinkami{
    margin-top: 30px;
}

a.linksInBlock__3{
    margin-bottom: 30px;
    color: #7aa5d2;
    text-decoration: none;
    font-size: 16px;
    margin-right: 4px;
}
a.linksInBlock__3:hover{
    color: #f9fafa;
    transition: .5s;
}

.abcde{
    display: flex;
    justify-content: space-between;
}

.TitleOfBlock__3{

    margin-top: 10px;
    font-size: 48px;
    color: white;
    font-weight: bold;
}


.dropbtn {
    background-color:#2c71b8;
    color: white;
    font-size: 21px;
    font-weight: 300;
    text-align: left;
    padding-left: 16px;
    width: 270px;
    height: 40px;
    border: 1px solid white;

    position: relative;
    right: 5px;
    top: 17px;
  }
  
#iconDown{
    position: absolute;
    width: 20px;
    height: 20px;
    color: #fff;
    right: 10px;
    top: 10px
}


  .dropdown {
    position: relative;
    display: inline-block;
    color: white;
  }
  

  .dropdown-content {
    display: none;
    
    position: absolute;
    right: 5px;
    top: 57px;
    background-color:#2c71b8;
    color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 270px;
    border: 1px solid white;
  }
  

  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 270px;
    font-size: 21px;
    font-weight: 300;

  }
  

  .dropdown-content a:hover {background-color: #fff; color: #2c71b8;}
  

  .dropdown:hover .dropdown-content {display: block;}
  

  .dropdown:hover .dropbtn {background-color: #2c71b8; }



.blockWithCardsBlock__3{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}


#card{
    border: 0;
    border-radius: 0px;
    opacity: 0.8;
    margin-bottom: 30px;
}

#card-body{
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-radius: 0px;
    width: 270px;
    height: 570px;
    background-color: #2c71b8;
}


.photoOnCard{
    position: relative;
    width: 270px;
    height: 180px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    background-color: #cadbed;
}

.fullScreen{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: 0.5px solid #2c71b8;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(./photos/FULLsCREENbTN.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

.fullScreen:hover{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: 0.5px solid #2c71b8;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(./photos/FULLsCREENbTN_hover.png);
    background-color: #2c71b8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}


.favoriteBtn{
    position: absolute;
    top: 50px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: 0.5px solid #2c71b8;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(./photos/favoriteBtn.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

.favoriteBtn:hover,.liked{
    background-image: url(./photos/favoriteBtn_hover.png);
    background-color: #2c71b8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

.FULLsCREENbTN__img, .favoriteBtn__img{
    width: 22px;
    height: 22px;
}



.card-img-top{
    max-width: 100px;
    height: 88px;
    border: 0;
    border-radius: 0px;
}

.card-img-top_card3{
    max-width: 50px;
    height: 100px;
    border: 0;
    border-radius: 0px;
}

.card-img-top_card4{
    max-width: 100px;
    height: 65px;
    border: 0;
    border-radius: 0px;
}

.card-title{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.card-text{
    font-size: 21px;
    font-weight: 300;
    color: #fff;
}


.cardAshki{
    margin-top: 10px;
    font-size: 21px;
    font-weight: 300;
    color: #fff;
}

.BoldText{
    font-weight: bold;
}


.bigPriceOfCard{
    width: 270px;
    height: 90px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bigPriceOfCard_content{
    font-size: 48px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.cents{
    font-size: 25px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    position: relative;
    top: -15px;
}

/* ______________________________product-quantity_______________________________________________________________________________ */

.product-quantity{
    position: absolute;
    bottom: 170px;

    right: 30px;
}

.button_minus, .button_plus{
    width: 20px;
    border: 1px solid white;
    margin: auto;
}


.input_of_quantity{
    width: 162px;
    text-align: center;

}
/* ______________________________product-quantity_______________________________________________________________________________ */
.btn_details{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 210px;
    height: 50px;
    background-color: #2c71b8;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    border: 1px solid #fff;

    margin: auto;
    margin-bottom: 15px;

    position: absolute;
    bottom: 80px;
    right: 30px;
}

.btn_details:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 50px;
    background-color: #2c71b8;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    border: 1px solid #fff;
    background-color: #03264e;
    margin: auto;
    margin-bottom: 15px;
}

.btn_add{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 50px;
    background-color: #568dc6;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    border: 1px solid #fff;
    margin: auto;
    margin-bottom: 15px;

    position: absolute;
    bottom: 10px;
    right: 30px;
}


.btn_add:hover,.picked{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 50px;
    background-color: #568dc6;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    border: 1px solid #fff;
    background-color: #03264e;
    margin: auto;
    margin-bottom: 15px;
}

.bi{
    margin-left: 5px;
}


/* ___________________________menu S boku block 3________________________ */


.menuSboku{
    height: 840px;
    width: 270px;
    margin-top: 1px;
    position: relative;
    border-right: 1px solid #fff;
}

.background_of_menu_s_boku{
    background-color: #568dc6;
    height: 840px;
    width: 270px;
    margin-top: 1px;
    opacity: 0.6;
}


.titleInMenu_s_boku{
    position: absolute;
    left: 35px;
    top: 35px;
    font-size: 21px;
    text-transform: uppercase;
    color: #fff;

}

label{
    font-weight: 300px;
}

.label_Laptop{
    position: absolute;
    left: 35px;
    top: 85px;
    width: 200px;
    color: #fff;
    padding-left: 20px;
}

.label_Tablet{
    position: absolute;
    left: 35px;
    top: 115px;
    width: 200px;
    color: #fff;
    padding-left: 20px;
    font-weight: 300px;
}

input[type="checkbox"]{
    display: none;
}


label::before{
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    border: 1px solid white;
    cursor: pointer;

    position: absolute;
    left: 2px;
    bottom: 8px;
}

input[type="checkbox"]:checked +label::before {
    background-color: #fff;
}


.title_2_InMenu_s_boku{
    position: absolute;
    left: 35px;
    top: 195px;
    font-size: 21px;
    text-transform: uppercase;
    color: #fff;
}


.label_Black{
    position: absolute;
    left: 35px;
    top: 245px;
    width: 200px;
    color: #fff;
    padding-left: 20px;
}

.label_Red{
    position: absolute;
    left: 35px;
    top: 275px;
    width: 200px;
    color: #fff;
    padding-left: 20px;
}

.label_Green{
    position: absolute;
    left: 35px;
    top: 305px;
    width: 200px;
    color: #fff;
    padding-left: 20px;
}

.label_Blue{
    position: absolute;
    left: 35px;
    top: 335px;
    width: 200px;
    color: #fff;
    padding-left: 20px;
}

.label_Orange{
    position: absolute;
    left: 35px;
    top: 365px;
    width: 200px;
    color: #fff;
    padding-left: 20px;
}



.title_3_InMenu_s_boku{
    position: absolute;
    left: 35px;
    top: 455px;
    font-size: 21px;
    text-transform: uppercase;
    color: #fff;
}


.label_gb1{
    position: absolute;
    left: 35px;
    top: 505px;
    width: 200px;
    color: #fff;
    text-transform: uppercase;
    padding-left: 20px;
}

.label_gb2{
    position: absolute;
    left: 35px;
    top: 535px;
    width: 200px;
    color: #fff;
    text-transform: uppercase;
    padding-left: 20px;
}

.label_gb4{
    position: absolute;
    left: 35px;
    top: 565px;
    width: 200px;
    color: #fff;
    text-transform: uppercase;
    padding-left: 20px;
}

.label_gb6{
    position: absolute;
    left: 35px;
    top: 595px;
    width: 200px;
    color: #fff;
    text-transform: uppercase;
    padding-left: 20px;
}

.label_gb8{
    position: absolute;
    left: 35px;
    top: 625px;
    width: 200px;
    color: #fff;
    text-transform: uppercase;
    padding-left: 20px;
    
}


.final_link_in_side_menu{
    position: absolute;
    left: 35px;
    bottom: 115px;
    font-size: 21px;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
}

.final_link_in_side_menu:hover{
    color: rgb(79, 69, 69);
    transition: 0.5s;
}

.btn_submit_InMenu_s_boku{
    text-transform: uppercase;
    position: absolute;
    bottom: 45px;
    right: 30px;
    width: 210px;
    height: 50px;
    background-color: #2c71b8;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    border: 1px solid #fff;
}


/* ___________________________finish part__________________________ */

.loadingMore{
    display: flex;
    justify-content: center;
    height: 130px;
}


.loadingMore_content{
    font-size: 36px;
    font-weight: 300;
    color: #fff;
}


/* __________________footer_________________________________________ */


.footer{
    background-color: #cadbed;
    height: 100px;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer_text{
    font-size: 21px;
    font-weight: 300;
    color: #2c71b8;
    font-weight: lighter;
}



/* ______________________________________pop-up_______________________________________________________________________ */


.ladom {
    position: fixed;
    z-index: 659078506978506978590678590678590;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
} 

.modal-block {
    width: 280px;
    height: 240px;
    background-color: #cadbed;

    border-bottom: 1px solid #fff;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    text-align: center;
    border-radius: 6px;
    margin: 100px auto;
}
.btn-wrap {
    display: flex;
    justify-content: flex-end;
}
.btn-wrap .btn-close {
    cursor: pointer;
    border: 0.1px solid black;
    border-radius: 0px;
}


.btn-send{
    width: 25%;
    border: 0.1px solid black;
}
.form-field {
    margin-top: 15px;
    margin-bottom: 15px;
}
.form-field input {
    width: 100%;
    height: 30px;
    padding-left: 5px;
}

.show{
    display: block;
}

.hide {
    display: none;
}



/* ______________________________scroll_______________________________________________________________________________ */

.scroll {
    position: fixed;
    z-index: 659078506978506978590678590678590;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
} 

.scroll-block {
    width: 580px;
    height: 150px;
    background-color: #cadbed;

    border-bottom: 1px solid #fff;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    text-align: center;
    border-radius: 6px;
    margin: 600px auto;
}

.link_in_croll_block{
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    color: black;
    /* text-decoration: none; */
}



.btn-wrap {
    display: flex;
    justify-content: flex-end;
}
.btn-wrap .btn-close {
    cursor: pointer;
    border: 0.1px solid black;
    border-radius: 0px;
}

.show{
    display: block;
}

.hide {
    display: none;
}

